---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';

import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import joelImage from '~/assets/images/joel.png';

const metadata = {
  title: 'Entrenamientos personales a tu medida y desde casa',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/unnamed.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      La página que concentra<span class="hidden xl:inline"> el deporte y</span>
      el entrenamiento de todo internet
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Soy FreeManager</span> , tu entrenador GRATUITO online.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Cambia tu vida cambiando tu día</span>
      Tenemos consultorías online y entrenamientos personalizados para ti
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="feature"
    tagline="Para ti"
    title="Gran abanico de posibilidades"
    subtitle="Pofesionales que se adaptan a ti y tus circunstancias para ayudarte mano a mano"
    items={[
      {
        title: 'Entrenamientos Personalizados',
        description:
          'Planes de entrenamiento diseñados exclusivamente para ti, adaptados a tus objetivos, nivel y estilo de vida. Disfruta de un proceso totalmente personalizado que combina productividad, rendimiento y versatilidad para que alcances tus metas de forma eficiente.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Herramientas para tu entrenamiento',
        description:
          'Accede a recursos y herramientas prácticas que potenciarán tus entrenamientos. Desde rutinas especializadas hasta recomendaciones personalizadas, todo lo que necesitas para optimizar tu rendimiento y alcanzar tus objetivos está aquí.',
        icon: 'tabler:components',
      },
      {
        title: 'Seguimiento de recuperación',
        description:
          'Monitorea tu progreso y recuperación con un seguimiento continuo y personalizado. Aseguramos procesos eficientes y seguros para que vuelvas a tu mejor versión, priorizando tu bienestar y ofreciendo una experiencia de entrenamiento completa.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Creación de plan de entrenamiento',
        description:
          'Diseñamos planes de entrenamiento efectivos y adaptados a tus necesidades. Una planificación estratégica que mejora tu rendimiento, optimiza resultados y garantiza una experiencia de entrenamiento fluida y de alto impacto.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Contacto directo con tu entrenador',
        description:
          'Mantente siempre conectado con tu entrenador para resolver dudas, ajustar rutinas y recibir apoyo constante. Una comunicación directa que garantiza un seguimiento personalizado, impulsando tu progreso hacia los resultados que deseas.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Clases gratuitas online',
        description:
          'Accede a clases gratuitas online para que entrenes desde donde quieras. Descubre nuevas técnicas, mantente motivado y forma parte de una comunidad abierta al aprendizaje, la innovación y la superación personal.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Joel Rodríguez"
    title="Profesionales pendientes de tu rendimiento físico"
    items={[
      {
        title: '¿Tienes poco tiempo en tu día a día?',
        description:
          'Sesiones personalizadas y efectivas que se adaptan a tu rutina.  Entrenamientos cortos pero intensos para maximizar resultados.  Planificación flexible según tus horarios.',
      },
      {
        title: 'Entrenamientos diseñados para ti',
        description:
          'Planes específicos para pérdida de peso, ganancia muscular. Ajustes para mejorar el rendimiento y evitar estancamientos. Ejercicios pensados para tu nivel de condición física.',
      },
      {
        title: 'Resultados consistentes y sostenibles',
        description:
          'Rutinas seguras para prevenir lesiones. Hábitos saludables que se mantienen a largo plazo. Seguimiento continuo para evaluar y optimizar tu evolución.',
      },
    ]}
    image={{
      src: joelImage,
      alt: 'Joel Rodríguez',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Construimos cuerpos y mentes fuertes
      </h3>
      Tu bienestar físico y mental es la base para alcanzar cualquier objetivo.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- Content Widget **************** -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Consigue el cuerpo de tus sueños con entrenamiento personalizado para ti"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Define tus objetivos</span>',
        description:
          ' Aumenta masa muscular, pierde peso o mejora tu resistencia. Establece metas claras para diseñar un plan a tu medida. Cada entrenamiento se adapta a tus objetivos y estilo de vida.',
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Sigue un plan de entrenamiento personalizado</span>',
        description:
          ' Ejercicios adaptados a tu nivel físico. Planes flexibles que se ajustan a tu horario. Progresiones seguras para obtener resultados sostenibles.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Sigue tu progreso</span>',
        description:
          'Evaluaciones periódicas para ajustar entrenamientos. Corrección de técnica con seguimiento personalizado. Supera tus límites con el apoyo constante de tu entrenador.',
        icon: 'tabler:paint',
      },
      {
        title: '!Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Pregúntanos tus dudas en nuestras Redes Sociales o contácta con nosotros desde la Web en el botón de Contacto"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Por qué elegir a este entrenador personal?',
        description:
          'Un profesional comprometido con tu bienestar físico y mental. Te ayudará a alcanzar tus objetivos a través de planes de entrenamiento personalizados, adaptados a tus necesidades, horarios y estilo de vida. ¡Convierte el fitness en parte de tu rutina diaria de forma efectiva y sostenible!',
      },
      {
        title: '¿Qué necesito para empezar?',
        description:
          'Las sesiones se adaptan a tu nivel, ritmo y objetivos. Incluyen ejercicios de fuerza, resistencia, flexibilidad y movilidad. Además, recibirás correcciones técnicas, consejos de nutrición y seguimiento continuo para asegurarnos de que progreses de forma segura.',
      },
      {
        title: '¿Cómo funcionan las sesiones de entrenamiento?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: '¿Qué pasa si no tengo experiencia entrenando?',
        description:
          '¡No te preocupes! Los entrenamientos se diseñan para todos los niveles. Empezaremos por lo básico, fortaleciendo tu cuerpo progresivamente. Con un seguimiento constante y asesoría personalizada, mejorarás tu rendimiento sin riesgo de lesiones.',
      },
      {
        title: '¿Qué sucede si pierdo la motivación?',
        description:
          '¡Aquí entra el trabajo del entrenador! Recibirás apoyo constante, consejos prácticos para mantenerte enfocado y sesiones dinámicas para que cada entrenamiento sea una experiencia motivadora. Además, se trabajarán metas a corto y largo plazo para que siempre tengas un objetivo claro.',
      },
      {
        title: 'Si pudieras hacerle una sola pregunta a cada persona que entrenas, ¿cuál sería?',
        description:
          '¿Qué te inspira a dar lo mejor de ti cada día? Cada persona tiene una razón única para superarse. Descubrirla es clave para diseñar un plan de entrenamiento que no solo transforme tu cuerpo, sino también tu mente.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->
</Layout>
