---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'SaaS Landing Page',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Iniciación"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Lo más importante si estás empezando es... Empezar
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        La única clave que hay en esto es <span class="font-semibold">empezar</span>.</span
      >
      Aquí te dejamos unos ejercicios básicios pero que aportan muchos resultados. Hazlos como te explicamos para evitar leciones y mejorar tu técnica.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Qué debo de tener en cuenta para empezar"
    subtitle="Todo maestro fue aprendiz, aquí es donde empieza tu camino"
    columns={2}
    items={[
      {
        title: 'Comienza con metas pequeñas y alcanzables',
        description:
          'No te exijas demasiado al principio. Si eres nuevo en el ejercicio, comienza con metas pequeñas, como caminar 10-15 minutos al día o hacer 5 minutos de estiramientos. Esto te ayudará a evitar sentirte abrumado y te dará la motivación para seguir adelante.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Hazlo parte de tu rutina diaria',
        description: `La clave para formar un hábito es la constancia. Intenta hacer ejercicio a la misma hora todos los días, como por la mañana antes de empezar el día o por la tarde después del trabajo. Esto hace que sea más fácil incorporarlo a tu vida cotidiana.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Encuentra una actividad que disfrutes',
        description:
          'Si no te gusta lo que haces, es muy probable que abandones. Prueba diferentes actividades hasta encontrar la que realmente disfrutes, ya sea correr, bailar, nadar, yoga o levantar pesas. Si lo disfrutas, es mucho más fácil seguir haciéndolo.',
        icon: 'tabler:writing',
      },
      {
        title: 'Mantén la variedad para evitar el aburrimiento',
        description: `Cambiar tu rutina de ejercicios de vez en cuando te ayudará a mantener el interés. Puedes variar entre cardio, fuerza, flexibilidad y otras actividades para trabajar diferentes partes del cuerpo y mantenerte motivado.`,
        icon: 'tabler:podium',
      },
      {
        title: 'Hazlo social si es posible',
        description: `Ejercitarte con amigos o unirte a una clase de ejercicio puede hacer la experiencia más divertida y te ayudará a mantenerte comprometido. Además, tener un compañero de entrenamiento te puede dar esa dosis extra de motivación cuando más lo necesitas.`,
        icon: 'tabler:eyeglass',
      },
      {
        title: 'Celebra tus logros, grandes y pequeños',
        description: `Reconocer tu progreso es clave para mantener la motivación. Celebra cada meta alcanzada, ya sea que hayas aumentado tu tiempo de ejercicio, logrado una nueva marca personal o simplemente hayas mantenido la consistencia durante una semana. Estas pequeñas victorias te motivarán a seguir adelante.`,
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="¡EMPECEMOS!"
    subtitle="Sesiones de 30-45 minutos con descansos de 30-45 segundos entre series y ejercicios. Material: banda elástica🪢, dos botellas pequeñas de agua💧(0.5L), mancuernas 🏋️‍♂️ si se tienen."
    isReversed
    items={[
      {
  title: 'Tren Superior:',
  description:
    '→ Movilidad de muñecas (flexión, extensión y rotación): 10-15 reps<br />' +
    '→ Movilidad de cintura escapular (brazos hacia adelante y atrás): 10-15 reps cada una<br />' +
    '→ Movimientos circulares pequeños para el manguito rotador: 10-15 reps de cada una<br />' +
    '→ Con un palo de escobillón o con una banda elástica realizar rango de movimiento completo con los dos brazos y alternando: 10-15 reps de cada una si es con los dos brazos y si es alterno se cuenta como una repetición cuando se realice con los dos brazos<br />' +
    '→ Retracción y protracción escapular: 10-15 reps de cada una',
},
      {
        title: 'Tren Inferior:',
        description:
    '→ Movilidad de cadera (flexión, extensión, abducción y aducción): 10-15 reps de cada una<br />' +
    '→ Ponerse de cuclillas e ir apoyando simultáneamente más peso en una pierna que en la otra: 10-15 reps con cada pierna<br />' +
    '→  Movilidad de tobillo (elevación de talón primero con los dos y luego aguantar el equilibrio a la pata coja): 10-15 reps',
    
},
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Calentamiento <br /><span class="text-2xl">Calentar bien previene de lesiones</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
  title: 'Mira el video para que te sirva de ayuda:',
  description:
    '1 Jumping jacks o tijeras: 10 segundos de trabajo - 25 segundos de descanso - 10 segundos de trabajo<br />' +
    '2 Flexiones inclinadas en un muro/silla/banco (cuanto más alto el apoyo serán más fáciles de hacer): 2 x 8-10 repeticiones<br />' +
    '3 Curl de bíceps con banda elástica, con botella pequeña de agua o con mancuernas: 2 x 8-10 repeticiones con cada brazo',
    
},
      
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Inicio <br /><span class="text-2xl">Vamos a empezar poco a poco</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
  title: 'Mira el video para que te sirva de ayuda:',
  description:
    '1 Press militar sentado sin peso, con botella de agua pequeña (0.5L), con banda elástica o con mancuernas: 2 series x8 -10 repeticiones<br />' +
    '2 Remo sin peso o con banda elástica: 2 series x 8-10 repeticiones<br />' +
    '3 Rodillas arriba alternando como si trotáramos en el sitio, si es muy difícil nos agarramos a una silla y lo hacemos más lento: 2 series x 8-10 repeticiones con cada pierna',
    
},
      
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Mitad <br /><span class="text-2xl">Ya vas por la mitad</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    items={[
       {
  title: 'Mira el video para que te sirva de ayuda:',
  description:
    '1 Curl femoral de pie sin peso: 2 series x 8-10 repeticiones<br />' +
    '2 Ponerse de puntillas agarrados a algo: 2 series x 8-10 repeticiones<br />' +
    '3 Extensión de cuádriceps sentados sin peso: 2 series x 8-10 repeticiones',
    
},
      
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Final <br /><span class="text-2xl">¡Vamos que  ya terminas!</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Planes de entrenamiento"
    prices={[
      {
        title: 'GRATIS',
        subtitle: 'Síguenos, es completamente gratis y te ayudará',
        price: '0',
        period: '/ mes',
        callToAction: {
          target: '_blank',
          text: 'Empieza gratis',
          href: '#',
        },
      },
      {
        title: 'Seguimiento',
        subtitle: 'Seguimiento de un profesional en tu desarollo deportivo',
        price: 12.99,
        period: '/ Mes',
        callToAction: {
          target: '_blank',
          text: 'Pásate al plan de seguimineto',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Entreamiento personalizado',
        subtitle: 'No te quedes solo con el seguimiento, mejora con un plan personalizado',
        price: 23.99,
        period: '/ Mes',
        callToAction: {
          target: '_blank',
          text: 'Personaliza tu plan',
          href: '#',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas frecuentes"
    items={[
      {
        title: '¿Cuánto conocimiento necesito tener sobre entrenamiento para empezar?',
        description:
          'No necesitas ser un experto para empezar. Aunque algunos conocimientos básicos sobre el cuerpo y los ejercicios pueden ser útiles, hoy en día hay muchas aplicaciones, videos y entrenadores que te pueden guiar. Lo más importante es comenzar con lo básico y trabajar progresivamente en aumentar tu capacidad.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Es necesario seguir una dieta específica si estoy empezando a entrenar?',
        description: `No es estrictamente necesario seguir una dieta rigurosa si estás empezando, pero sí es recomendable llevar una alimentación equilibrada. Asegúrate de incluir suficiente proteína, carbohidratos y grasas saludables en tu dieta para apoyar tu entrenamiento y recuperación. A medida que avances, podrías considerar ajustar tu dieta según tus objetivos de entrenamiento. Si necesitas ayuda busca en nuestra sección de nutrición`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Es recomendable entrenar si soy una persona que entrena poco?',
        description:
          'Sí, empezar a entrenar es una excelente forma de mejorar tu salud y bienestar. Si eres nuevo en el ejercicio o has entrenado poco, puedes comenzar con ejercicios suaves y progresivos. Lo importante es escuchar a tu cuerpo y aumentar la intensidad de manera gradual para evitar lesiones.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Cuánto tiempo debo entrenar a la semana si soy principiante?',
        description: `Si eres principiante, lo ideal es comenzar con sesiones de entre 2 y 3 veces por semana, con entrenamientos de 30 a 45 minutos. A medida que te acostumbres al ejercicio, puedes aumentar la frecuencia y la duración de tus entrenamientos. Recuerda que el descanso también es crucial para tu recuperación.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'Email us',
        description: 'contact@support.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow us',
        description: '@example',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
